<div class="hl-img">
    <div class="hl-img__hold">
        <div class="hl-img__fader"></div>
        <figure>
            <img data-src="#" data-alt="#"/>
            <figcaption></figcaption>
        </figure>
        <button class="hl-img__close" aria-label="Close image">CLOSE</button>
    </div>
</div>