---
import SliceZone from "../components/SliceZone.astro";
import { createClient } from "../lib/prismic.js";
const client = createClient();
const page = await client.getSingle("global");
const list = page.data.links.map(link => ({
    title: link.link_text,
    url: link.link_url,
    external: link.is_external
}));
---


<a href="index.html" class="main-logo">
	<div class="main-logo__svg w-embed">
		<svg width="100%" viewBox="0 0 185 33" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M10.1678 25H0.53515V24.2567C3.27036 24.2567 3.74605 23.6324 3.74605 21.8188V4.39673C3.74605 2.58317 3.27036 1.95883 0.53515 1.95883V1.21557H9.90027C16.0545 1.21557 21.8817 4.63458 21.8817 13.197C21.8817 21.5215 16.3221 25 10.1678 25ZM9.75162 23.6621C14.9842 23.6621 17.5708 19.3512 17.5708 13.4348C17.5708 6.56706 14.0328 2.55344 9.72189 2.55344C9.12728 2.55344 8.62186 2.6129 8.38401 2.70209C8.02725 2.82101 7.87859 3.08859 7.87859 3.47509V22.4134C7.87859 23.3648 8.47321 23.6621 9.75162 23.6621ZM35.5549 21.5513H36.2982C36.1496 23.9297 35.3468 25.4757 33.1765 25.4757C31.3035 25.4757 30.1737 24.3162 30.1737 21.2837V21.0458C29.5791 23.781 28.0034 25.4757 25.7141 25.4757C23.5438 25.4757 22.2654 23.9 22.2654 21.908C22.2654 18.162 26.7547 16.5565 30.1737 15.0403V13.3159C30.1737 10.7591 29.4304 9.86715 28.0331 9.86715C26.9331 9.86715 26.1898 10.4618 26.1898 11.3834C26.1898 12.0672 26.5763 12.4834 26.5763 13.197C26.5763 14.0889 26.0114 14.743 24.9114 14.743C23.7222 14.743 23.0681 13.9402 23.0681 12.7807C23.0681 10.5212 25.3276 8.61847 28.598 8.61847C31.8089 8.61847 33.6522 10.3726 33.6522 13.6429V22.2351C33.6522 23.5729 33.9198 23.9297 34.3955 23.9297C34.9901 23.9297 35.4658 23.3351 35.5549 21.5513ZM27.2007 22.8297C28.3007 22.8297 29.4602 21.8486 30.1737 19.6188V16.0808C27.9439 17.2403 25.7141 18.6674 25.7141 20.9566C25.7141 22.1161 26.279 22.8297 27.2007 22.8297ZM42.0864 20.3323L44.6135 12.2159C45.2081 10.3428 45.2081 9.92661 43.2756 9.92661V9.18335H48.5379V9.92661C47.2 9.92661 46.6054 10.3428 46.0108 12.2159L41.908 25.2378H39.9458L35.843 12.2159C35.2483 10.3428 34.6835 9.92661 33.4942 9.92661V9.18335H41.0161V9.92661C39.0539 9.92661 39.0241 10.3428 39.589 12.2456L41.9377 20.3323H42.0864ZM51.4606 6.00218C50.2119 6.00218 49.32 5.16973 49.32 3.98051C49.32 2.79128 50.2119 1.95883 51.4606 1.95883C52.7092 1.95883 53.6012 2.79128 53.6012 3.98051C53.6012 5.16973 52.7092 6.00218 51.4606 6.00218ZM53.4525 9.0347V21.8188C53.4525 23.781 53.7795 24.2567 55.6228 24.2567V25H47.774V24.2567C49.6173 24.2567 49.9443 23.781 49.9443 21.8188V13.0483C49.9443 10.9969 49.9146 10.551 48.1605 11.2645L47.8929 10.5212L50.2416 9.59958L52.8282 8.52928L53.4525 9.0347ZM70.3648 22.9486L70.6323 23.6919L68.135 24.5838L65.6673 25.5054L64.9241 24.9108V22.4432H64.8349C64.0024 24.227 62.6051 25.4757 60.6429 25.4757C57.7293 25.4757 55.8563 22.4134 55.8563 17.5971C55.8563 12.1267 58.2347 8.61847 61.5051 8.61847C63.0213 8.61847 64.27 9.24281 64.9241 10.2536V5.19946C64.9241 3.23724 64.9538 2.85074 63.17 3.74266L62.8429 3.05886L67.9863 0.4723L68.4323 0.918258V21.135C68.4323 23.1864 68.4917 23.6324 70.3648 22.9486ZM62.1889 23.0972C63.3781 23.0972 64.1808 22.2351 64.9241 20.8972V15.5754C64.9241 12.8402 64.1213 10.3726 62.3672 10.3726C60.4645 10.3726 59.5428 12.9889 59.5428 16.8241C59.5428 20.5107 60.3456 23.0972 62.1889 23.0972ZM83.151 19.589V4.39673C83.151 2.58317 82.6753 1.95883 79.9401 1.95883V1.21557H90.4647V1.95883C87.7295 1.95883 87.2538 2.58317 87.2538 4.39673V18.3701C87.2538 23.6324 84.8159 25.4757 81.3374 25.4757C77.8292 25.4757 75.9859 23.5135 75.9859 21.3729C75.9859 20.0053 76.8778 19.262 77.9481 19.262C79.1374 19.262 79.8806 19.9458 79.8806 20.9269C79.8806 21.4026 79.7914 21.8188 79.7914 22.354C79.7914 23.4243 80.2969 24.1675 81.278 24.1675C82.705 24.1675 83.151 22.7999 83.151 19.589ZM90.1416 25.4757C89.0713 25.4757 88.2091 24.6135 88.2091 23.5432C88.2091 22.4729 89.0713 21.6107 90.1416 21.6107C91.2119 21.6107 92.0741 22.4729 92.0741 23.5432C92.0741 24.6135 91.2119 25.4757 90.1416 25.4757ZM101.779 21.8188V4.39673C101.779 2.58317 101.303 1.95883 98.5681 1.95883V1.21557H109.093V1.95883C106.358 1.95883 105.882 2.58317 105.882 4.39673V21.8188C105.882 23.6324 106.358 24.2567 109.093 24.2567V25H98.5681V24.2567C101.303 24.2567 101.779 23.6324 101.779 21.8188ZM110.223 10.3726L117.834 22.2053C118.934 23.9297 119.885 24.227 121.312 24.227V25H111.382V24.2567C114.028 24.2567 114.177 23.8702 113.047 22.0864L106.714 12.3348L112.72 4.78323C113.433 3.89131 113.731 3.2967 113.731 2.91021C113.731 2.2264 113.166 1.95883 111.352 1.95883V1.21557H120.271V1.95883C118.339 1.95883 117.179 2.13721 115.931 3.65347L110.223 10.3726ZM120.909 25V24.2567C122.664 24.2567 122.991 23.781 122.991 21.8188L122.961 13.0483C122.961 10.9969 122.961 10.551 121.147 11.2942L120.85 10.551L123.258 9.59958L125.845 8.52928L126.469 9.0347V11.8888H126.558C127.926 9.98608 129.353 8.61847 131.494 8.61847C133.634 8.61847 134.883 10.105 134.883 13.1078V21.8188C134.883 23.781 135.18 24.2567 136.905 24.2567V25H129.621V24.2567C131.137 24.2567 131.404 23.781 131.404 21.8188V13.3159C131.404 11.7402 130.81 10.9969 129.769 10.9969C128.639 10.9969 127.569 11.7402 126.469 13.2564V21.8188C126.469 23.781 126.737 24.2567 128.253 24.2567V25H120.909ZM141.008 6.00218C139.759 6.00218 138.867 5.16973 138.867 3.98051C138.867 2.79128 139.759 1.95883 141.008 1.95883C142.256 1.95883 143.148 2.79128 143.148 3.98051C143.148 5.16973 142.256 6.00218 141.008 6.00218ZM143 9.0347V21.8188C143 23.781 143.327 24.2567 145.17 24.2567V25H137.321V24.2567C139.164 24.2567 139.491 23.781 139.491 21.8188V13.0483C139.491 10.9969 139.462 10.551 137.707 11.2645L137.44 10.5212L139.789 9.59958L142.375 8.52928L143 9.0347ZM151.792 22.354H155.419C158.541 22.354 159.997 23.3351 159.997 25.6243C159.997 29.1028 156.251 32.0164 151.049 32.0164C147.659 32.0164 144.775 30.8272 144.775 28.419C144.775 26.8136 145.965 25.7135 147.957 24.9405C146.738 24.4054 146.143 23.5135 146.143 22.5026C146.143 21.0458 147.184 20.0053 148.64 19.2025C147.065 18.2512 146.143 16.5565 146.143 14.4457C146.143 11.1456 148.403 8.6482 152.089 8.6482C153.278 8.6482 154.349 8.91578 155.211 9.42119C156.43 8.70766 157.797 8.41036 158.689 8.41036C159.641 8.41036 159.908 8.85631 159.908 9.39146C159.908 10.0158 159.522 10.551 158.779 10.551C157.619 10.551 156.757 9.74823 155.865 9.86715C157.114 10.8483 157.857 12.424 157.857 14.3267C157.857 17.7457 155.568 20.0945 152 20.0945C151.078 20.0945 150.246 19.9458 149.532 19.6485C148.938 20.0647 148.581 20.481 148.581 21.0458C148.581 21.7891 148.878 22.354 151.792 22.354ZM151.643 9.89688C150.186 9.89688 149.622 11.4726 149.622 13.2564C149.622 15.7538 150.395 18.8458 152.386 18.8458C153.784 18.8458 154.378 17.4484 154.378 15.5754C154.378 12.9889 153.576 9.89688 151.643 9.89688ZM151.911 30.0542C155.657 30.0542 158.095 28.2704 158.095 26.7541C158.095 25.7135 157.322 25.5054 155.3 25.5054H151.346C150.454 25.5054 149.681 25.4162 149.027 25.2676C148.165 26.0108 147.63 26.7838 147.63 27.5866C147.63 28.7758 148.7 30.0542 151.911 30.0542ZM165.162 13.2564V21.8188C165.162 23.781 165.43 24.2567 166.946 24.2567V25H159.603V24.2567C161.357 24.2567 161.654 23.781 161.654 21.8188V5.25892C161.654 3.2967 161.684 2.91021 159.87 3.83185L159.543 3.17778L164.716 0.4723L165.162 0.918258V11.8888H165.251C166.619 9.98608 168.046 8.61847 170.187 8.61847C172.298 8.61847 173.576 10.105 173.576 13.1078V21.8188C173.576 23.781 173.873 24.2567 175.568 24.2567V25H168.284V24.2567C169.8 24.2567 170.097 23.781 170.097 21.8188V13.2564C170.097 11.7104 169.473 10.9969 168.433 10.9969C167.303 10.9969 166.262 11.7402 165.162 13.2564ZM184.089 18.162H184.98C184.98 22.9783 183.94 25.4757 180.848 25.4757C178.38 25.4757 177.042 24.0189 177.042 19.7674V10.5212H175.021V9.30227C177.191 9.21308 178.826 7.66709 179.242 4.78323H180.461V9.18335H184.029V10.5212H180.551V19.1431C180.551 21.6702 180.848 23.2756 182.156 23.2756C183.464 23.2756 184.089 21.6107 184.089 18.162Z" fill="#FCEFE0"></path>
		</svg>
	</div>
</a>
<div class="menu">
	<div class="menu__hold">
		<ul role="list" class="menu__nav">
            {list.map((post, index) => (
                <li class="menu__link">
                    <a href={post.url} target={post.external ? "_blank" : "_self"} class="menu__a">{post.title}</a>
                </li>
            ))}
		</ul>
		<a href="#" class="menu__trg w-button">MENU</a>
	</div>
</div>
<div class="menufs">
	<div class="menufs__hold">
		<ul role="list" class="menufs__nav">

            {list.map((post, index) => (
                <li class="menu__link">
                    <a href={post.url} target={post.external ? "_blank" : "_self"} class="menu__a">{post.title}</a>
                </li>
            ))}
		</ul>
	</div>
</div>